/* tag selectors */
h1 { 
    background-color: cyan;
    color: red; 
    font-size: 50px;
}

img:hover {
    background-color: deeppink;
}
/* class selectors */

    .beacon {
        background-color: green;
    }
    .broccoli {
        background-color: red;
    }
.circular {
    border-radius: 100%;
}


/* id selectors */

#heading {
    color: darkseagreen;
}
